<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="projectNum" value="10"/>
		<add key="writer" value="岑敏仪 高颖"/>
		<add key="version" value="V1.0"/>
	</appSettings>
</configuration>